!!!

%html
  %head
    %title fuck
    %script{:src => "javascripts/main.js", :type => "text/javascript"}
    %script{:src => "javascripts/jquery.js", :type => "text/javascript"}
  %body
    %h2 fuck
    all